body {
  padding-left: 40px;
  padding-right: 40px;
  color: #DB860F;
  background-color: #202020;
}

.productName {
  color: white;
  display: inline-block;
  width: 220px;
}

.pn0 {
  width: calc(220px - 0*19px);
}

.pn1 {
  width: calc(220px - 1*19px);
}

.pn2 {
  width: calc(220px - 2*19px);
}

.pn3 {
  width: calc(220px - 3*19px);
}

.pn4 {
  width: calc(220px - 4*19px);
}

.pn5 {
  width: calc(220px - 5*19px);
}

.pn6 {
  width: calc(220px - 6*19px);
}

.recipeQty {
  color: white;
  font-weight: bold;
  display: inline-block;
  width: 70px;
}

.factory {
  display: inline-block;
  width: 170px;
}

.totalCost {
  text-align: right;
  display: inline-block;
  width: 100px;
}

.recipeQtyRoundUp {
  text-align: right;
  display: inline-block;
  width: 40px;
}

.singleFactoryCost {
  text-align: right;
  display: inline-block;
  width: 80px;
}

.totalHeader {
  display: inline-block;
  width: 620px;  
  font-weight: bold;
  color: white;
}

.timestamp {
  font-size: small;
  color: grey;
}
